
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.grid-container{
    display: flex;
    margin: 5% 5% 5% 5%;
    align-items: center;
}
.hero-text-section{
    padding: 5.5% 10% 10% 15%;
    background-color: #eee;
    margin-right: 0;
    border: aqua;
    border-radius: 6px;
}
.hero-image-section {
    position: relative;
}

.hero-title{
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Rubik', sans-serif;
}