
.event-title {
  overflow: hidden;
}
.event-card:hover {
  animation-name: expand;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes expand {
  100% {
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}